<!DOCTYPE html>
<html lang="pt-ao">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation API Task Management</title>
</head>
<body>
    <h1>Task Management v0.0.1</h1>
    <h3>Routers:</h3>
    <table>
        <thead>
            <tr>
                <th>Indice</th>
                <th>Method</th>
                <th>Route</th>
                <th>Description</th>
            </tr>
            <tbody>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center; font-weight: 600; color: #666;">GET</td>
                    <td>/</td>
                    <td style="color: #666;">Apresenta a página inicial do sistema</td>
                </tr>
                <tr>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center; font-weight: 600; color: #666;">GET</td>
                    <td>/api</td>
                    <td style="color: #666;">Apresenta a página de dumentação da API</td>
                </tr>
                <tr>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center; font-weight: 600; color: #666;">GET</td>
                    <td>/api/tasks</td>
                    <td style="color: #666;">Apresenta a lista de tarefas</td>
                </tr>
                <tr>
                    <td style="text-align: center;">4</td>
                    <td style="text-align: center; font-weight: 600; color: #666;">POST</td>
                    <td>/api/tasks</td>
                    <td style="color: #666;">Rota para adicionar novas tarefas</td>
                </tr>
                <tr>
                    <td style="text-align: center;">5</td>
                    <td style="text-align: center; font-weight: 600; color: #666;">DELETE</td>
                    <td>/api/tasks/:id</td>
                    <td style="color: #666;">Rota para apagar uma tarefa</td>
                </tr>
                <tr>
                    <td style="text-align: center;">6</td>
                    <td style="text-align: center; font-weight: 600; color: #666;">PUT</td>
                    <td>/api/tasks/:id</td>
                    <td style="color: #666;">Rota para actualizar uma tarefa</td>
                </tr>
            </tbody>
        </thead>
    </table>
</body>
</html>